@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#msg {
	border-radius: 5px;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	border-radius: 5px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

/* Chat Page */

.chat-container {
	/* border: '2px solid black'; */
	max-width: 79%;
	background: #fff;
	background-color: rgba(246, 223, 235, 0.5 );

	margin: 30px auto;
	overflow: hidden;
	border-radius: 5px;
}

.chat-messages {
	padding: 30px;
	height: 370px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
}
.sb3:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 10px solid rgba(246, 223, 235, 0.5 );
	border-right: 10px solid transparent;
	border-top: 10px solid rgba(246, 223, 235, 0.5 );
	border-bottom: 10px solid transparent;
	left: 19px;
	bottom: -19px;
  }
.box {
	width: 300px;
		/* margin: 4px auto; */
	background: #00bfb6;
	padding: 15px;
	/* text-align: center; */
	font-weight: 900;
	/* color: #fff; */
	font-family: arial;
	position:relative;
  }
.sb4:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid rgba(202, 247, 227, 0.7 );
	border-top: 10px solid rgba(202, 247, 227, 0.7 );
	border-bottom: 10px solid transparent;
	right: 19px;
	bottom: -19px;
  }


.meta {
	font-size: 15px;
	font-weight: bold;
	/* color: var(--dark-color-b); */
	opacity: 0.7;
	margin-bottom: 7px;
}

.message-me{
		background-color: rgba(202, 247, 227, 0.7 );


}
.message-inp{
	background-color: rgba(246, 223, 235, 0.5 );


}


.chat-form-container  {
	padding: 20px 30px;
	/* background-color: var(--dark-color-a); */
	background-color: rgba(35, 62, 139	, 0.7 );
	border-radius: 5px;

}


.chat-form-container .text-in-title{
	margin: 0px;
}

.text-in-title {
	color: white;
	text-align: center;
	font-size: 1.2rem;
	margin: 0px;	
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}
